<a href="https://colab.research.google.com/github/Imran0897/Ineuron_Assignments/blob/main/Assignment_25_Python_Advanced.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Q1. What is the distinction between a numpy array and a pandas data frame? Is there a way to
convert between the two if there is?

Ans. Numpy array: This is in the form of matrix structure which have rows and columns. It generally performs python mathematical operation which is not genrally easy manually to perfomr in coding case. It may be of any dimensions like 1-d, 2-d, 3-d, 4-d, etc depend upon the use to requirement. Unlike dataframe, numpy array are not in a tabular form which ahve records and have fields instead it is in the form of matrices. It can have
single row and single column as well but dataframe poses more than one column
DataFrame: This is a kind of tabular structure format which are having more than one column. Unlike numpy array which can have more single as well as many number of columns, but dataframe have more than one column.
Dataframe can have any number of dimensons but it should be more than one. We can use numpy array operation in dataframe and can also convert the numpy array into dataframe.We can convert between the two in following manner:

In [1]:
import pandas as pd
import numpy as np
array=np.arange(10).reshape(2,5)
array

array([[0, 1, 2, 3, 4],
       [5, 6, 7, 8, 9]])

In [2]:
df=pd.DataFrame(array)
df

   0  1  2  3  4
0  0  1  2  3  4
1  5  6  7  8  9

In [3]:
df.to_numpy()

array([[0, 1, 2, 3, 4],
       [5, 6, 7, 8, 9]])

Q2. What can go wrong when an user enters in a stock-ticker symbol, and how do you handle it?

Ans. A ticker symbol change really means nothing to you, the investor, in the grand scheme of things. The change doesn't do anything to markets or to the way you execute trades. Since everything is electronic, your trading platform or broker will already update your portfolio to include the new ticker symbol.

Q3. Identify some of the plotting techniques that are used to produce a stock-market chart.

Ans. LINE CHART.POINT AND FIGURE CHART, CANDLESTICK CHART, BAR CHART.

Q4. Why is it essential to print a legend on a stock market chart?

Ans. Legends adds a beauty to visualize the trend of data w.r.t. different features. It creates the different trend in different colors indicating that which is belong to which trend is belong to which feature.

Q5. What is the best way to limit the length of a pandas data frame to less than a year?

Ans. We can use start and end parameters for that. In start we write the date from where we are starting and at the end we write the end date. SO within this span we can restric the duration. Also we can use the parameters like periods for how much times we need the duration and we can also use the frequency parameter.

Q6. What is the definition of a 180-day moving average?

Ans. Moving Averages help to filter out market noise and smooth out fluctuations in price. In statistics, a moving average is a calculation used to analyze data points by creating a series of averages of different subsets of the full data set. 180-day moving average means A simple moving average (SMA) is a arithmetic mean of a given set of prices over the 180 days in the past