<a href="https://colab.research.google.com/github/Imran0897/Ineuron_Assignments/blob/main/Assignment_17_Basic_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. Assign the value 7 to the variable guess_me. Then, write the conditional tests (if, else, and elif) to
print the string &#39;too low&#39; if guess_me is less than 7, &#39;too high&#39; if greater than 7, and &#39;just right&#39; if equal
to 7.

Ans.

In [1]:
guess_me = 7
if guess_me < 7:
    print('too low')
elif guess_me > 7:
    print('too high')
else:
    print('just right')

just right

2. Assign the value 7 to the variable guess_me and the value 1 to the variable start. Write a while
loop that compares start with guess_me. Print too low if start is less than guess me. If start equals
guess_me, print &#39;found it!&#39; and exit the loop. If start is greater than guess_me, print &#39;oops&#39; and exit
the loop. Increment start at the end of the loop.

Ans.

In [2]:
guess_me = 7
start = 1
while True:
    if start < guess_me:
        print('too low')
    elif start == guess_me:
        print('found it!')
        break
    elif start > guess_me:
        print('oops')
        break
    start += 1

too low
too low
too low
too low
too low
too low
found it!

3. Print the following values of the list [3, 2, 1, 0] using a for loop.

Ans.

In [3]:
for value in [3, 2, 1, 0]:
        print(value)

3
2
1
0

4. Use a list comprehension to make a list of the even numbers in range(10)

Ans.

In [6]:

even = [number for number in range(10) if number % 2 == 0]
even

[0, 2, 4, 6, 8]

5. Use a dictionary comprehension to create the dictionary squares. Use range(10) to return the
keys, and use the square of each key as its value.

Ans.

In [5]:
 squares = {key: key*key for key in range(10)}
 squares

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

6. Construct the set odd from the odd numbers in the range using a set comprehension (10).

Ans.

In [7]:
odd = {number for number in range(10) if number % 2 == 1}
odd

{1, 3, 5, 7, 9}

7. Use a generator comprehension to return the string &#39;Got &#39; and a number for the numbers in
range(10). Iterate through this by using a for loop.

Ans.

In [8]:
for thing in ('Got %s' % number for number in range(10)):
        print(thing)

Got 0
Got 1
Got 2
Got 3
Got 4
Got 5
Got 6
Got 7
Got 8
Got 9

8. Define a function called good that returns the list [&#39;Harry&#39;, &#39;Ron&#39;, &#39;Hermione&#39;].

Ans.

In [9]:
def good():
        return ['Harry', 'Ron', 'Hermione']
good()

['Harry', 'Ron', 'Hermione']

9. Define a generator function called get_odds that returns the odd numbers from range(10). Use a
for loop to find and print the third value returned.

Ans.

In [10]:
def get_odds():
        for number in range(1, 10, 2):
            yield number
count = 1
for number in get_odds():
    if count == 3:
        print("The third odd number is", number)
        break
    count += 1

The third odd number is 5

10. Define an exception called OopsException. Raise this exception to see what happens. Then write
the code to catch this exception and print &#39;Caught an oops&#39;.

Ans.

In [11]:
class OopsException(Exception):
        pass

In [12]:
 raise OopsException()

OopsException: ignored

In [13]:
try:
    raise OopsException
except OopsException:
    print('Caught an oops')

Caught an oops

11. Use zip() to make a dictionary called movies that pairs these lists: titles = [&#39;Creature of Habit&#39;,
&#39;Crewel Fate&#39;] and plots = [&#39;A nun turns into a monster&#39;, &#39;A haunted yarn shop&#39;].

Ans.

In [14]:
titles = ['Creature of Habit', 'Crewel Fate']
plots = ['A nun turns into a monster', 'A haunted yarn shop']
movies = dict(zip(titles, plots))
movies

{'Creature of Habit': 'A nun turns into a monster',
 'Crewel Fate': 'A haunted yarn shop'}