<a href="https://colab.research.google.com/github/Imran0897/Ineuron_Assignments/blob/main/Programming_Assignment_21.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
#1

In [3]:
def list_mod(l,a):

  l.remove(l[0])
  l.append(a)
  return l

In [5]:
list_mod([7, 6, 3, 23, 17], 10)

[6, 3, 23, 17, 10]

In [6]:
#2.

In [18]:
def sum_budget(l):

  sum = 0

  for i  in l:
    for j , k in i.items():
      if j == "budget":
        sum = sum + k

  return sum

In [19]:
sum_budget([
{ 'name': 'John', 'age': 21, 'budget': 23000 },
{ 'name': 'Steve', 'age': 32, 'budget': 40000 },
{ 'name': 'Martin', 'age': 16, 'budget': 2700 }
])

65700

In [20]:
#3.

In [28]:
def alp_order(s):

  return "".join(sorted(s))

In [29]:
alp_order("hello")

'ehllo'

In [30]:
#4.

In [31]:
def compound_interest(amt, years, intrest, compPeriod):
    future_value = amt *(1 + (intrest/compPeriod)) ** (years * compPeriod)
    return round(future_value,2)

In [32]:
compound_interest(3500, 15, 0.1, 4)

15399.26

In [33]:
#5.

In [35]:
def ret_only_int(l):
    l1 = []
    for i in l:
        if type(i) == int:
            l1.append(i)
    return l1

In [36]:
ret_only_int([9, 2, 'space', 'car', 'lion', 16])

[9, 2, 16]